{% extends 'home/base.html' %}
{% block start %}
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page of the application.</p>
    


    {{people}}

    <table border="1" class="container table">
        <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Age</th>
            <th>Can Vote ?</th>
        </tr>
        {% for person in people %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
            <td {% if person.age >= 18 %} style="background-color: lightgreen;" {% else %} style="background-color: lightcoral;" {% endif %}>
               {% if person.age >= 18 %}
               👍🏻
               {% else %}
               👎🏻
               {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}